.ContactPage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .InfoContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  h4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  img {
    height: 300px;
  }

  a img {
    height: 25px;
  }

  a {
    padding-left: 10px;
    text-decoration: none;
    color: var(--blue);
  }

  a:hover {
    color: var(--yellow);
  }

  a img:hover {
    filter: invert(100%);
  }

  h2 {
    display: flex;
  }

  .Avatar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

// mobile view 

@media (max-width: 600px) { 
  .ContactPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    padding: 40px;
  }
}