.ProjectsPage {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .ProjectsList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    a {
      //desktop
      @media (min-width: 760px) {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      // mobile
      @media (max-width: 759px) {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
      }

      h1 {
        // mobile
        @media (max-width: 759px) {
          font-size: 2rem;
        }

        :hover {
          cursor: pointer;
        }
      }

      h4 {
        //desktop
        @media (min-width: 760px) {
          padding-right: 40px;
        }
      }
    }
  }

  .ProjectContainer {
    padding: 30px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      display: flex;
    }

    ul {
      padding: 20px;
      width: 100%;

      li {
        list-style-type: none;
      }
      li img {
        //desktop
        @media (min-width: 760px) {
          height: 300px;
        }

        // mobile
        @media (max-width: 759px) {
          height: 200px;
        }
      }
    }

    .ProjectLinks {
      width: 100%;
      display: flex;
      justify-content: space-between;

      a {
        color: inherit;
      }

      a h2:hover {
        color: var(--grey);
      }
    }

    .BuildContainer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .BuildItem {
        border: none;
        border-radius: 5px;
        background-color: rgb(255, 254, 254);
        color: black;
        padding: 5px 10px 5px 10px;
        margin-right: 10px;
        font-weight: 600;
        font-size: 0.75rem;
        text-transform: uppercase;
      }
    }
  }
}
