.Footer {
    height: 10vh;
    width: 100vw;
    
    a img {
        height: 25px;
    }

    a img:hover
    {
            -webkit-transform: rotateZ(7deg);
            -ms-transform: rotateZ(7deg);
            transform: rotateZ(7deg);
    }

    h4 {
        display: flex;
        align-items: center;
    }

      //desktop
  @media (min-width: 760px) {
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  // mobile
  @media (max-width: 759px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}