.Footer {
    padding-right: 40px;
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    a img {
        height: 25px;
    }

    a img:hover
    {
            -webkit-transform: rotateZ(7deg);
            -ms-transform: rotateZ(7deg);
            transform: rotateZ(7deg);
    }

    h4 {
        display: flex;
        align-items: center;
    }
}