.Footer {
    margin: 0px 0px 0px 0px;
    background-color: var(--almost-black);
    border-top: 1px solid var(--dark-grey);
    padding-right: 40px;
    
    a img {
        height: 25px;
    }

    a img:hover
    {
            -webkit-transform: rotateZ(7deg);
            -ms-transform: rotateZ(7deg);
            transform: rotateZ(7deg);
    }

    h4 {
        display: flex;
        align-items: center;
    }
}